.custom-link {
    color: #666;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.custom-link:hover {
    background: linear-gradient(45deg, #007bff, #00bfff);
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    font-size: 1.5rem;
    color: #007bff;
    transition: all 0.3s ease;
}

.navbar-brand:hover {
    color: #00bfff;
}

@media (max-width: 991.98px) {
    .custom-collapse {
        background-color: white;
        border-radius: 5px;
        border: 1px solid #ddd;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px;
        right: 0;
        position: absolute;
        top: 100%; /* Coloca el menú debajo del NavBar */
        z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
    }
}